<img id="home-banner" src="../../../assets/img/office_space_banner.jpg">
<h1>{{'label.current_events' | translate}}</h1>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort class="even-list-table">

    <ng-container matColumnDef="eventName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.name' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.eventName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="manager">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.manager' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.manager}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.location' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.location}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateFrom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.start_date' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.dateFrom}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateTo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.end_date' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.dateTo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="participantNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.participants_no' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.participantNo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="eventType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'events.type' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let event" (click)="eventDetails(event.id)"> {{event.eventType}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="loggedIn">
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> {{'events.operations' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let event" [ngClass]="'customWidthClass'">
          <button class="matbutton" md-raised-button (click)="checkInButton(event.id)">{{'check_in_button' | translate}}</button>
        </mat-cell>
      </ng-container>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let event; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>