.btn {
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	width: 65px;
	padding: 2px 10px;
	margin: 9px;
	background: #cccccc;
	color: #4d4d4d;
}



/* MAT TABLE */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-table {
	border-collapse:collapse;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

ng-container {
}

mat-header-cell {
	display:flex !important;
	justify-content:center!important;
	background:none repeat scroll 0 0 #008aff;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
}

mat-cell {
	display:flex !important;
	justify-content:center!important;
}

mat-table mat-row:hover {
	background-color: #bebebe;
}

mat-row:nth-child(even) {background: #f2f2f2}
mat-row:nth-child(odd) {background: #FFFFFF}

.matbutton {
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	width: 80px;
	padding: 2px 10px;
	margin: 8px;
	background: #cccccc;
	color: #4d4d4d;
}

.customWidthClass {
	flex: 0 0 200px;
}

#home-banner{
	margin-bottom: 60px;
	width: 100%;
	height: 30vh;
	opacity: 0.5;
}